---
import '@fontsource-variable/inter'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Kultur5 Clone' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer
			style={{
				textAlign: 'center',
				paddingTop: '1rem',
				paddingBottom: '1rem',
			}}
		>
			Kultur5 Clone - Made by <a
				href='https://github.com/JGRoldan/'
				target='_blank'
				rel='noopener noreferrer'
				style={{
					color: '#E45F11',
				}}
			>
				JGRoldan
			</a> with ❤
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--black-text: #000;
		--white-text: #fff;
		--grey-text: #4e4e4e4f;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		font-family: 'Inter Variable', sans-serif;
		background: #fff;
	}
	body {
		width: 98%;
		margin: auto;
	}
	a {
		text-decoration: none;
		color: var(--black-text);
	}
	::-moz-selection {
		/* Code for Firefox */
		color: var(--white-text);
		background: #e45f11;
	}

	::selection {
		color: var(--white-text);
		background: #e45f11;
	}
</style>
