.cart-container {
	width: 75%;
	margin: auto;
	display: flex;
	align-items: start;
	justify-content: center;
	border: 1px solid var(--orangeText);
	border-radius: 5px;
	padding: 50px 20px;
	margin-top: 50px;
}
