table {
	border-collapse: collapse;
	width: 100%;
}

tr th {
	border-bottom: 2px solid rgb(202, 202, 202);
}

tbody tr td {
	border-bottom: 1px solid rgb(202, 202, 202);
	padding-top: 8px;
}

.add-to-cart {
	color: #f26636;
	cursor: pointer;
}
.add-to-cart:hover {
	color: #334862;
}
