---

---

<div
	class='mt-10 flex flex-col items-center justify-center text-center text-white'
>
	<div class='flex items-end justify-center z-10'>
		<div class='m-2 sm:m-5'>
			<span class='dias text-white font-bold text-xl sm:text-5xl'></span>
			<p class='md:text-base text-sm'>DIAS</p>
		</div>
		<div class='m-2 sm:m-5'>
			<span class='horas text-white font-bold text-xl sm:text-5xl'></span>
			<p class='md:text-base text-sm'>HORAS</p>
		</div>
		<div class='m-2 sm:m-5'>
			<span class='minutos text-white font-bold text-xl sm:text-5xl'>
			</span>
			<p class='md:text-base text-sm'>MINUTOS</p>
		</div>
		<div class='m-2 sm:m-5'>
			<span class='segundos text-white font-bold text-xl sm:text-5xl'>
			</span>
			<p class='md:text-base text-sm'>SEGUNDOS</p>
		</div>
	</div>
</div>

<script>
	const countDown = () => {
		// Seleccionar los elementos donde se mostrarán los valores
		const dias = document.querySelector('.dias')
		const horas = document.querySelector('.horas')
		const minutos = document.querySelector('.minutos')
		const segundos = document.querySelector('.segundos')
		const countDownDate = new Date('Nov 15, 2024 00:00:00').getTime()

		// Actualizar el contador cada segundo
		const updateCounter = () => {
			const today = new Date().getTime()
			const distance = countDownDate - today

			// Si la fecha de destino ha pasado
			if (distance <= 0) {
				clearInterval(interval) // Detener el contador
				dias.textContent = '0'
				horas.textContent = '0'
				minutos.textContent = '0'
				segundos.textContent = '0'
				return
			}

			// Calcular días, horas, minutos y segundos restantes
			const days = Math.floor(distance / (1000 * 60 * 60 * 24))
			const hours = Math.floor(
				(distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
			)
			const minutes = Math.floor(
				(distance % (1000 * 60 * 60)) / (1000 * 60)
			)
			const seconds = Math.floor((distance % (1000 * 60)) / 1000)

			// Actualizar los elementos con los valores calculados
			dias.textContent = days
			horas.textContent = hours
			minutos.textContent = minutes
			segundos.textContent = seconds
		}

		// Iniciar la actualización del contador
		const interval = setInterval(updateCounter, 1000)
	}

	document.addEventListener('DOMContentLoaded', () => countDown())
</script>
