header {
	width: 75%;
	margin: auto;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: poppins, 'sans-serif';
	font-size: 15px;
}

.logo {
	width: 80%;
}

.center-nav {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.center-nav input[type='text'] {
	width: 70%;
	padding: 0.3rem;
	border-radius: 3px;
	margin-left: 2rem;
}
.center-nav input[type='submit'] {
	padding: 0.3rem;
	border-radius: 3px;
	margin-left: -2.7rem;
	background: none;
	border: none;
	cursor: pointer;
}

.right-nav {
	display: flex;
	gap: 15px;
}

.wish-list-popup {
	position: relative;
}
.wish-list-popup-span {
	position: absolute;
	width: 17px;
	text-align: center;
	top: -10px;
	right: -10px;
	background-color: red;
	color: white;
	border-radius: 50%;
	font-size: 0.7rem;
	opacity: 0; /* Oculto por defecto */
	transform: translateY(10px); /* Posición inicial para el efecto */
	transition: opacity 0.5s ease, transform 0.5s ease; /* Transición más sencilla */
}

.active {
	opacity: 1;
	transform: translateY(0); /* Se desliza hacia arriba */
}

.header-container nav{
	width: 100%;
	background-color: var(--colorText);
	color:#c8c8c8;
}

.header-container nav ul{
	width: 75%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 13px;
	padding: 9px 0;
}
.header-container nav ul li{
	border-right: 1px solid #676767;
	padding: 0px 8px;
}
.header-container nav ul li:last-child{
	border-right: none;
}
.header-container nav ul li:hover{
	color: var(--whiteText);
	cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}