---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import ProjectNav from '@/components/ProjectNav.astro'
---

<Layout title='Kultur5 - Clone'>
	<main>
		<Header />
		<ProjectNav />
	</main>
</Layout>
