---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Dan Tase - Product Design Director.'>
	<main class='flex flex-col gap-48 mx-auto w-[90%]'>
		<footer class='text-center pb-2'>
			Dan Tase Clone - Made by <a
				href='https://github.com/JGRoldan/'
				target='_blank'
				rel='noopener noreferrer'
				class='text-blue-700'
			>
				JGRoldan
			</a> with ❤
		</footer>
	</main>
</Layout>
