---
import Anchor from './Anchor.astro'

const { data } = Astro.props
const { mainText, secondaryText } = data
---

<div class='grid grid-cols-5 gap-4 -mt-36'>
	<div class='col-span-2'></div>
	<div class='col-span-3 text-xl flex flex-col gap-8'>
		<p>
			{mainText}
		</p>
		<p>
			{secondaryText}
		</p>
		<div class='flex gap-10'>
			<Anchor
				anchorLink='about'
				anchorText='More about me'
				anchorColor='border-blue-700'
			/>
			<Anchor
				anchorLink='#'
				anchorText='hey@dantase.com'
				anchorColor='border-yellow-300'
			/>
		</div>
	</div>
</div>
