<header class='text-xl grid grid-cols-5 gap-4'>
	<div class='col-span-2'></div>
	<div class='col-span-3 py-16'>
		<span class='font-semibold'>Dan Tase</span>
		<p>Product Design Director</p>
	</div>
</header>
