---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import MainSection from '@/components/MainSection.astro'
import ShopifySection from '@/components/ShopifySection.astro'
import JewelrySection from '@/components/JewelrySection.astro'
import BgImageSection from '@/components/BgImageSection.astro'
import LogoSection from '@/components/LogoSection.astro'
---

<Layout title='Kultur5 - Clone'>
	<main>
		<Header />
		<MainSection />
		<div class='gap'></div>
		<ShopifySection />
		<div class='gap'></div>
		<BgImageSection />
		<div class='gap'></div>
		<JewelrySection />
		<div class='gap'></div>
		<LogoSection />
	</main>
</Layout>

<style>
	.gap {
		height: 4rem;
	}
</style>
