---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import MainSection from '../components/MainSection.astro'
---

<Layout title='Kultur5 - Clone'>
	<main>
		<Header />
		<MainSection />
		<div class='gap'></div>
	</main>
</Layout>

<style>
	.gap {
		height: 6rem;
	}
</style>
